body,html{
    width: 98%;
    margin: 0 auto;
    height: 100%;
    text-align: justify;
    align-content: left;
    font-size: 25px;  
    font-family: 'Roboto', sans-serif;
}
.contact_body_alternative{
    background-color: #ffffe6;
}

.body_homepage{
    background-image: url(ka_allblack1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    background-repeat: no-repeat;
    background-size: cover;
}

/*KetaiyaAveria header font*/
h1{
    font-size: 50px;
    word-spacing: 0.1em;  
    color: #7a6652;
    text-shadow: -1px -2px #666666;
    text-transform: uppercase;
    text-align: left;
    margin:25px;
    padding:1px;
}


/*Navigation font*/
.nav1{
    text-align: justify;
    font-family: 'Great Vibes', cursive;
    font-size:28px;
    margin:25px;
    padding:1px;
}

.body, .nav {
    display: flex;
}

.body_alternative body header{
    border: solid #665544;
    border-radius: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px
    margin-top: 15px;
    width:15%;    
}

#name{
    color: #7a6652;
}

/*Index page - Makeup Specialist*/
h5{
    text-align: left;
    margin: 50px;
    padding: 1px;
    font-family: 'Great Vibes', cursive;
    width: 25%;
    font-size: 40px;
    color: #ffffff;
    letter-spacing: 1.5;
}

</*BOX SIZES - Use px, percent (size of box is relative to size of browser window of if in another box, the size of that box), or ems >*/

.body{
    width:100%;
    height: 100%;
    margin: 10px;
}

.container{
    display: flex;
    width:100%;
    height: 100%;  
}

/* Index page Enter id*/
#enter{
    border: solid 5px #665544;
    width: 30%;
    color: #665544;
    text-align: center;
    margin-left: 35px;
    font-size: 25px
}

.nav{
    display:flex;
    width: 30%;
}

#about{
    width:100%;
    display:flex;
    font-weight: bold;
}

#about p{
    font-family: 'Roboto', sans-serif;
    color: #665544;
    font-size:16px;
    text-align: left;
}

.main_content{
    display: inline;
    background-color: #665544; 
    text-align: left;
}
.main_content img{
    width: 80%;
    background-color: #000000;
    vertical-align: top;
}

/*Makeover page*/
.main_content p{
    font-family: 'Roboto', sans-serif;
    color: #665544;
    font-size:16px;
}

#about a{
    color:red;
}

<!--About page - hello paragraph-->
#welcome{
    font-weight: bold;
}

.transformation{
    background-color: #ffffff;
    display: flex;
    border: solid #665544 2px;
    font-family: 'Roboto', sans-serif;
}

.transformation img{
    width: auto;
    height:350px;
}

.events{
    background-color: #ffffff;
    display: flex;
    border: solid #665544 2px
}

.events img{
    width: auto;
    height:350px;
}

.looks{
    background-color: #ffffff;
    display: flex;
    border: solid #665544 2px;
}

.looks img{
    width: auto;
    height:350px;
}

/*About page paragraph font*/
p{
    text-align: left;
    margin: 20px;
    font-size:2px;
    vertical-align: top;
    font-family: 'Great Vibes', cursive;
    font-weight: 100;
}

p:first-letter{
    font-size: 150%;
}

a:link{
    color:#665544;
    text-decoration: none;
}
a:visited{
    color: #665544;}
a:hover{
    color:darkgray;
    text-decoration: underline;
}
a:active{
    color:#cc0000;}

.contact_forms{
    display: flex;
    font-size: 23px;
    width:
}

.contact_header{
    width: 25%;
}
.personal_info{
    font-family: 'Great Vibes', cursive;
    font-size: 35px;
    background-color: #665544;
    color: #ffffff;
}
.event_info{
    font-family: 'Great Vibes', cursive;
    font-size: 35px;
    background-color: #665544;
    color: #ffffff;
}

.contact_main_content{
    margin-top: 30px;
}